<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pets</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </head>
  <body>

<div class="section">
  <div class="container">
    <h3>List of Pets</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i<pets.length; i++){ %>
          <tr>
            <td><%= pets[i].name %></td>
            <td><%= pets[i].type %></td>
            <td><%= pets[i].gender %></td>
          </tr>
          <% } %>
      </tbody>
    </table>

    <a href="/createpet">Create New Pet</a>
  </div>
</div>



  </body>
</html>
